.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    section{
        background-image: url('https://img.freepik.com/free-photo/aerial-view-residence-bukovinian-dalmatian-metropolitans-chernivtsi-national-university-chernivtsi-touristic-destination-western-ukraine_231208-41.jpg?w=1060&t=st=1670905619~exp=1670906219~hmac=cfe0e9fb5b6f48fd0c9dcac91eb4bfe0d55eb022caae0e060bde64fc6efa8519');
    }
    
    img {
        height: 100%;
    }

    input[name='firstName'].ng-invalid.ng-touched ,
    input[name='lastName'].ng-invalid.ng-touched,
    input[name='address1'].ng-invalid.ng-touched
    {
        border: 1px solid red;
        box-shadow: 0 0 13px inset #ff6500a3;   
    }

    /* table, th, td {
        border:1px solid black;
      } */
    
      table{
        margin-top: 30px;
      }

      td:first-child {
        font-weight: bold
      }