<div class="card">
    <h4 class="text-center mb-4">Child Component (Employee List)</h4>                
    <form class="form-card" onsubmit="event.preventDefault()">
        <div class="row justify-content-between text-left">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Job title</th>
                    <th scope="col">Phone number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let emp of allEmployees">
                    <th scope="row">{{emp.employeeName}}</th>
                    <td>{{emp.department}}</td>
                    <td>{{emp.jobTitle}}</td>
                    <td>{{emp.phoneNumber}}</td>
                  </tr>                  
                </tbody>
              </table>
              
        </div>                    
    </form>
</div>