<div class="row">
    <div class="col-sm-4">
        <strong>Select Your Country</strong>
    </div>
    <div class="col-sm-4">
        <select class="classic" (click)="SetDropDownValue($event)">
            <option value="China">China</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Pakistan">Pakistan</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">        
    </div>
    <div class="col-sm-6" >
        
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-4">
        <strong style="color: blue;">You have choosen : </strong>
    </div>
    <div class="col-sm-4" [ngSwitch]="dropDownValue" style="color: red;">
        <strong *ngSwitchCase="'China'">China</strong>
        <strong *ngSwitchCase="'India'">India</strong>
        <strong *ngSwitchCase="'Indonesia'">Indonesia</strong>
        <strong *ngSwitchCase="'Pakistan'">Pakistan</strong>
        <strong *ngSwitchDefault="">not selected</strong>
    </div>
</div>